
version: "3.9"
services:
  db:
    image: postgres:16-alpine
    container_name: snip_db
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ./backend
    container_name: snip_api
    depends_on:
      - db
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 5000
      DATABASE_URL: postgresql://postgres:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public
      ALLOWED_ORIGINS: ${ALLOWED_ORIGINS}
      JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET}
      ACCESS_TTL_MIN: ${ACCESS_TTL_MIN}
      REFRESH_TTL_DAYS: ${REFRESH_TTL_DAYS}
      PUBLIC_BASE_URL: ${PUBLIC_BASE_URL}
    ports:
      - "5000:5000"

  web:
    build:
      context: ./frontend
      args:
        REACT_APP_API_URL: ${REACT_APP_API_URL}
    container_name: snip_web
    depends_on:
      - api
    ports:
      - "3000:80"

volumes:
  pgdata:
